<div class="container">
    <div class="wrap">
        <div class="top">
            <div class="head">
                <img class="logo" src="./assets/gen.svg">
                <span class="title">X-bio系统</span>
            </div>
            <div class="desc">专为企业级打造的生物信息处理私有云平台</div>
        </div>
        <router-outlet></router-outlet>
        <global-footer [links]="links">
            Copyright
            <i class="anticon anticon-copyright"></i> 2018
            <a href="http://www.smart-vsc.com/" target="_blank">微锐</a>出品
        </global-footer>
    </div>
</div>