<nz-card [nzLoading]="loading" [nzBordered]="false" [nzBodyStyle]="{'padding': '0 0 32px'}" class="offline-card mt-lg">
    <nz-tabset [(nzSelectedIndex)]="_activeTab" (nzSelectChange)="_tabChange($event)">
        <nz-tab *ngFor="let tab of data.offlineData; let i = index;" [nzTitle]="nzTabHeading">
            <ng-template #nzTabHeading>
                <div nz-row [nzGutter]="8" style="width: 138px; margin: 8px 0;">
                    <div nz-col [nzSpan]="12">
                        <number-info [title]="tab.name" subTitle="转化率" gap="2" [total]="(tab.cvr * 100) + '%'" [theme]="i !== _activeTab && 'light'"></number-info>
                    </div>
                    <div nz-col [nzSpan]="12" style="padding-top: 36px;">
                        <g2-pie [animate]="false" [color]="i !== _activeTab && '#BDE4FF'" [inner]="0.55" [tooltip]="false" [padding]="[0, 0, 0, 0]"
                            [percent]="tab.cvr * 100" [height]="64">
                        </g2-pie>
                    </div>
                </div>
            </ng-template>
            <div class="px-lg">
                <g2-timeline [data]="tab.chart" [titleMap]="{ y1: '客流量', y2: '支付笔数' }"></g2-timeline>
            </div>
        </nz-tab>
    </nz-tabset>
</nz-card>